@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

.shadow-smp {
  box-shadow:
    0px 0px 1.7px rgba(0, 0, 0, 0.046),
    0px 0px 5.8px rgba(0, 0, 0, 0.024),
    0px 0px 26px rgba(0, 0, 0, 0.18);
}

/* width */
.fscroll ::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 5px;
  height: 5px;
}

/* Handle */
.fscroll ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 50%;
}

/* Handle on hover */
.fscroll ::-webkit-scrollbar-thumb:hover {
  background: rgba(225, 225, 225, 0.5);
}

.fscroll:has(::-webkit-scrollbar-thumb) {
  padding-right: 60px;
  /* Add space only when the scrollbar is present */
}

@layer components {
  .card {
    @apply rounded-xl bg-zinc-500/30 shadow-lg ring-1 ring-black/5 backdrop-blur-3xl;
  }

  .header {
    @apply text-3xl font-medium text-white drop-shadow-md;
  }
}

.mesh {
  background-color: #99ffa8;
  background-image:
    radial-gradient(at 9% 61%, hsla(194, 63%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 5% 68%, hsla(298, 79%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 76%, hsla(220, 92%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 91%, hsla(226, 78%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 29%, hsla(261, 85%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 2%, hsla(171, 64%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 56% 68%, hsla(26, 63%, 72%, 1) 0px, transparent 50%);
}

.ghost-scroll {
  overflow: auto;
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.ghost-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and other Webkit browsers */
}